@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lekton:wght@400;700&display=swap");


html {
    scroll-behavior: smooth;
    font-size: 1vw;
    font-family: "Lekton";
    text-align: left;
}

#root,
body {
    box-sizing: border-box;
    max-width: 100vw;
    margin: 0 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

a {
    text-decoration: none;
}

.grid {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 1;
}

#about .grid {
    top: 100vh;
}

#contacts .grid {
    top: 200vh;
}

.grid-contacts {
    z-index: 0;
}

section {
    /* position: relative; */
    color: white;
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
    overflow-x: hidden;
}

h1 {
    font-size: 3rem;
    /* margin-top: 10vh; */
    margin-bottom: 3vh;
    user-select: none;
    color: white;
    font-weight: 600;
    background-color: #000;
    width: fit-content;
    padding: 10px 20px;
    line-height: 100%;
}

.separator {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    color: black;
    font-size: 13rem;
    font-weight: 600;
    bottom: 0;
    transform: translateY(40%);
    height: 13rem;
}
.separator span {
    height: 50%;
    user-select: none;
}

#about .separator {
    top: 200vh;
    transform: translateY(-60%);
}

/* Colors */
.bg-color {
    background-color: #edc843;
}

.red {
    color: red;
    font-weight: 100;
}

/* Navigation */
.sticky-nav {
    position: fixed;
    top: 5vh;
    right: 3vw;
    z-index: 30;
    padding-right: 20px;
    font-size: 1rem;
}

.sticky-nav a {
    text-decoration: none;
    color: white;
    padding: 0 6px 0 6px;
    border: 1px transparent solid;
}

.sticky-nav a:hover {
    text-decoration: none;
    color: black;
    background-color: white;
}

.sticky-nav a:active {
    color: white;
    background-color: transparent;
    border: 1px white solid;
}

.sticky-nav ul {
    list-style-type: none;
}

.sticky-nav li {
    margin-bottom: 5px;
}

.section-indicator {
    position: absolute;
    left: 15%;
}

/* Section containers */

.container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 100%;
    z-index: 20;
}

.container.left {
    padding-left: 15%;
    padding-right: 15%;
}

.container.right {
    padding-left: 10%;
    left: 50%;
    max-width: 40%;
}

/* Main Section */

.opening-text {
    position: absolute;
    left: 48%;
    bottom: 10%;
    font-size: 40pt;
    text-align: left;
    transform: translateY(-50%);
    font-size: 5rem;
    margin-left: 5%;
    font-weight: 800;
    z-index: 12;
    user-select: none;
}

.opening-text-greeting {
    line-height: 100%;
    margin: 0 0 15px 0;
    color: black;
}

.opening-text > div:last-child {
    font-size: 0.5em;
    /* font-weight: 400; */
    background-color: white;
    padding: 2px 30px 0 30px;
    color: #000;
}

.arrow-down {
    font-size: 30pt;
    font-weight: 300;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: rotate(90deg) translateY(50%);
    font-family: "Fira Code";

    z-index: 5;
    text-decoration: 0;
    color: white;
    border: 1px transparent solid;
    line-height: 60%;
    padding: 5px;
}

.arrow-down:hover {
    background-color: white;
    color: black;
}

.arrow-down:active {
    background-color: transparent;
    color: white;
    border: 1px white solid;
}

/* About Section */

#about img {
    width: 15vw;
    height: fit-content;
}

#about .container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

#about p {
    color: black;
    margin-right: 10vw;
    user-select: none;
}

/* Contacts Section */

.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 40vw;
    z-index: 10;
}

.contact {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    color: white;
}

.contact-text {
    background-color: white;
    padding: 0 5pt;
    color: black;
}

.contact-icon {
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    margin-right: 15px;
}

.clickable:hover{
    color: white;
    background-color: #000;
}

.clickable:active{
    color: black;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 3vw;
    }

    .opening-text {
        left: 0;
        padding: 0 5vw;
        bottom: 5vh;
    }

    .sticky-nav {
        font-size: 1.5rem;
        top: 4vw;
        right: 0;
    }
    .arrow-down {
        bottom: 10vh;
    }

    .container {
        position: relative;
        width: 100vw;
        left: 0;
        padding: 0;
        top: 0;
        transform: translateY(50%);
        max-width: 80%;
    }

    section {
        overflow: hidden;
    }

    h1 {
        padding-top: 2vh;
        margin-top: 10vh;
    }

    #about .container {
        padding: 0 10vw;
        max-width: 80vw;
        transform: translateY(0);
    }

    #contacts .container {
        padding-left: 10vw;
        padding-right: 10vw;
        left: 0;
        width: 80%;
        padding-top: 10vh;
    }

    #about p {
        color: black;
    }

    .separator {
        overflow-x: hidden;
        width: 100vw;
    }

    .contacts-container {
        max-width: 80vw;
    }

    .contact-icon {
        width: 10vw;
        height: 10vw;
    }

    .contact {
        font-size: 1.5rem;
        /* width: 80%; */
    }
    #about .container {
        flex-direction: column;
    }

    .container.right {
        max-width: 80%;
    }
    #about img {
        width: 40vw;
        position: relative;
        margin-top: 5vh;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    html {
        font-size: 1.4vw;
    }
    .sticky-nav {
        font-size: 2rem;
        top: 4vw;
        right: 0;
    }

    #about .container {
        align-items: center;
        flex-direction: column;
    }

    #contacts .container {
        left: 0;
    }

    #about img {
        width: 20vh;
        position: relative;
    }

    h1 {
        font-size: 5rem;
    }

    #about p {
        margin: 0;
        font-size: 1.5rem;
    }
}
